In [44]:
import pandas as pd
import numpy as np
import glob
import os

df = pd.concat(
    map(pd.read_csv, glob.glob(os.path.join("F:\maharshi\IX\Machine Learning\Datasets","*.csv" ))), ignore_index= True)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2735,E0,07/10/2023,Crystal Palace,Nott'm Forest,0,0,D,0,0,D,...,1.59,-0.25,1.99,1.94,1.98,1.94,2.03,2.01,1.94,1.91
2736,E0,08/10/2023,Brighton,Liverpool,2,2,D,1,2,A,...,3.45,0.50,1.83,2.10,1.83,2.09,1.89,2.11,1.83,2.05
2737,E0,08/10/2023,West Ham,Newcastle,2,2,D,1,0,H,...,2.08,0.25,2.03,1.78,2.10,1.82,2.10,1.93,2.01,1.83
2738,E0,08/10/2023,Wolves,Aston Villa,1,1,D,0,0,D,...,2.03,0.50,1.85,2.08,1.85,2.08,1.88,2.10,1.83,2.05
2739,E0,08/10/2023,Arsenal,Man City,1,0,H,0,0,D,...,1.82,0.25,1.73,2.08,1.78,2.17,1.85,2.23,1.76,2.11

In [ ]:
# To save merged dataframe, along with column name changes
# First change all column names, then save merged dataframe
# merged_df.to_csv('path/to/save/your/merged_data.csv', index=False)

In [45]:
df.rename(columns={'FTHG':'FTHomeGoals','FTAG':'FTAwayGoals','FTR':'FTResult','HTR':'HTResult','HTHG':'HTHomeGoals','HTAG':'HTAwayGoals'
                        ,'HS':'HomeShots','AS':'AwayShots','HST':'HomeShotsTarget','HHW':'HomeWoodwork','AHW':'AwayWoodwork',
                        'HC':'HomeCorners','AC':'AwayCorners','HF':'HomeFouls','AF':'AwayFouls','HFKC':'AwayFreekicks'
                        ,'AFKC':'HomeFreekicks','HO':'HomeOffsides','AO':'AwayOffsides','HY':'HomeYellow','AY':'AwayYellow',
                        'HR':'HomeRed','AR':'AwayRed','HBP':'HomeBookingPoints','ABP':'AwayBookingPoints'},inplace=True)